#look { 
    background-color: lightblue;
    text-align: center;
    border-radius: 20px;
    padding: 25px;
}

#budget{
    margin-left: 280px;
}

#reco{
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
}

#loc{
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
}

